<div id="list">
    <input id="box" type="text" name="text" placeholder="Enter the text here">

    <input id="datebox" type="date" class="form-control" placeholder="date" aria-label="Username" aria-describedby="addon-wrapping">

    <div id="button">
        <button id="btn1" type="reset">To do list</button>
        <button id="btn2" type="submit">Bucket List</button>
    </div>
</div>
<div id="adapt">
    <div id="todoitems">
    </div>
    <div id="bucketistitems"></div>
</div>
<div class=" footer">
    <a href="https://www.flaticon.com/free-icons/to-do" title="to do icons">To do icons created by Freepik -
        Flaticon</a>
    <!-- <a href="https://iconscout.com/icons/cross" target="_blank">Free Cross Icon</a> by 
        <a href="https://iconscout.com/contributors/amit-jakhu" target="_blank">Amit Jakhu</a> -->
</div>